$header-transition: 0.3s ease;
$mobile-breakpoint: 767px;
$desktop-breakpoint: 768px;

@mixin mobile {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-breakpoint}) {
    @content;
  }
}

.Header {
  transition: opacity $header-transition, visibility $header-transition;

  &_isHidden {
    opacity: 0;
    visibility: hidden;
  }

  &-Wrapper {
    &_isMobileMenuOpen {
      .Header {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &-LogoWrapper {
    height: var(--header-logo-height);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;

    @include mobile {
      justify-content: center;
      height: 60px;
    }

    @include desktop {
      height: 80px;
    }

    &_isVisible {
      display: flex;
    }
  }

  &-BurgerIcon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @include mobile {
      display: block; /* Show only on mobile */
    }

    @include desktop {
      display: none; /* Hide on desktop */
    }
  }

  &-LogoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      object-fit: contain;

      @include mobile {
        max-height: 30px;
        width: auto;
      }

      @include desktop {
        max-width: 180px;
        width: auto;
      }
    }
  }
}