.Header {
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &_isHidden {
    opacity: 0;
    visibility: hidden;
  }

  &-LogoWrapper {
    height: var(--header-logo-height);
    width: var(--header-logo-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    @include desktop {
      display: flex;
    }
  }

  &-BurgerIcon {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;

    @include desktop {
      display: none;
    }
  }

  &-LogoLink {
    display: inline-block;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.BurgerMenu {
  &_isOpen {
    .BurgerMenu-Overlay {
      display: block;
    }

    .BurgerMenu-Drawer {
      transform: translateX(0);
    }

    ~ .Header {
      opacity: 0;
      visibility: hidden;
    }
  }
}